body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #545454;
	text-decoration: none;
	background-color: transparent;
}

a{
	color: royalblue;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

#alertBox{
	border: 1px lightgray solid;
	background: #FFE15C;
	padding: 10px;
	width: 70%;
}

#titleBox{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 253px;
	text-align: left;
	width: 281px;
	height: 27px;
	border: 0px lightgray solid;
	-khtml-border-radius: 7px;
	-moz-border-radius: 7px;
}

#mainBox {
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
	width: 60%;
	height: 310px;
	text-align: left;
	border: 5px gray solid;
	-khtml-border-radius: 7px;
	-moz-border-radius: 7px;
	background-color: rgb(213, 226, 242);
}

#loginBox {
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	text-align: left;
	border: 0px lightgray solid;
	-khtml-border-radius: 7px;
	-moz-border-radius: 7px;
}

#logoBox{
	margin-left: auto;
	margin-right: auto;
	padding-left: 40px;
	padding-left: 10px;
	width: 95%;
	text-align: left;
	/*border-left: 5px gray solid;*/
	border-right: 5px gray solid;
	height: 90%;
	-khtml-border-radius: 0px;
	-moz-border-radius: 0px;
}

.textbox{
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	color: gray;
	border: 1px lightgray solid;
}
      
